* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* utility class start */

.fl {
    float: left;
}

.product {
    width: 32%;
    height:550px;
    background-color: beige;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;

}

.heart {
    position: absolute;
    top: 5px;
    right: 0;
    border: 1px solid white;
    background-color: white;
    font-size: 18px;
    text-align: center;

}



/* utility class end */
main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: azure;
    /* altezza da rimuovere a fine test - sarà determinata dai box */
    height: 600px;
}


.discount {
    position: absolute;
    bottom: 15px;
    left: 0px;
    /* width: 20px;
    height: 20px; */
    font-size: 12px;
    border: 1px solid red;
    padding: 3px;
    font-size: 12px;
    background-color: red;
    color: white;
    


}

.green {
    position: absolute;
    bottom: 15px;
    left: 40px;
    background-color: green;
    border: 1px solid green;
    color: white;
    padding: 3px;
    font-size: 12px;
    
}


.first-product-img  {
    background-image: url('../img/1.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.first-product-img:hover  {
    background-image: url('../img/1-hover.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.second-product-img{
    background-image: url('../img/2.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.second-product-img:hover {
    background-image: url('../img/2-hover.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.third-product-img{
    background-image: url('../img/3.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.third-product-img:hover {
    background-image: url('../img/3-hover.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.fourth-product-img{
    background-image: url('../img/4.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.fourth-product-img:hover {
    background-image: url('../img/4-hover.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.fifth-product-img{
    background-image: url('../img/5.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.fifth-product-img:hover {
    background-image: url('../img/5-hover.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.sixth-product-img{
    background-image: url('../img/6.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}

.sixth-product-img:hover {
    background-image: url('../img/6-hover.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;

}



/* .first-img {
    background-image: url('../img/1.webp');

}
.first-img:hover {
    background-image: url('../img/1-hover.webp');

} */








.item {
    width: 100%;
    /* background-color: coral; */
    
}

.item span {
    font-size: 18px;
}
.price {
    font-size: 18px;

}